/* confluence blue: 	background-color:rgba(32,80,129,1); darker:21,55,88;  */

.cover {
	background-image:url("images/hero-blur.jpg");
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	background-color:rgb(0,0,0);
	/*overflow:scroll;*/
	margin:0px;
	padding:0px }

body {
	height: 100%;
	padding:0px;
	-webkit-font-smoothing: antialiased;
	font-weight: 200;
}

.header {
	height: 80px;
	width:100%;
	position: relative;
	top: 0px;
}

@font-face {
	font-family: trench;
	src: url("assets/trench100free.otf");
}

.logo {
	text-align: center;
	top: -5%;
	position: relative;
	width: 100%;
	font-family: trench;
	color: white;
	font-size: 6em;
	font-weight: 100;
	background-color: rgba(0,0,0,0.6);
}

.logo-line {
	border-bottom: solid #428BCA 1px;
}

.menu {
	top: 30%;
	width:15%;
	margin-left: 40px;
	position: absolute;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	color: white;
	font-size: 1.3em;
	font-weight: 100;
	z-index: 1000;
	border: solid #f7f7f7 1px;
	border-radius: 5px;
	background-color: transparent;
	-webkit-filter: brightness(70%);

}

.login {
	text-align: center;
	top: 30%;
	position: fixed;
	right: 40px;
	position: absolute;
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	color: #f7f7f7;
	font-size: 1.3em;
	font-weight: 100;
	/*border: solid #428BCA 2px;*/
	border: solid #f7f7f7 1px;
	border-radius: 5px;
	background-color: transparent;
	-webkit-filter: brightness(70%);

	width: 15%;
}

#signup {
	text-align: center;
	position: relative;
	color:white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: 100;
	line-height: 10px;
	padding-top: 20px;
}

.title {
	font-size: 1.75em;
}

.subtitle {
	font-size: 1.1em;
}

.signup-btn {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.3em;
	height:50px;
	padding:10px;
	border-color: #669700;
	background-color: #598400;
	color: white;
	width: 40%;
	border: solid 0px;
	border-radius: 5px;
}
.signup-btn.signin-btn {
	width: 100%;
}

#overlay {
	margin-top: 100px;
	padding: 0px;
	width: 30%;
	margin: 0 auto;
	overflow:auto;
}

#overlay-behind {
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	padding: 0px;
	width: 120%;
	margin: 0 auto;
	margin-left: -100px;
	margin-top: 0px;
	overflow:auto;
}

#signInText {
	background: #fff;
	padding:10px;
	position:relative;
	top:-10px;
	left: 20px
}

.header.login-header {
	height: 100px;
	border-bottom: solid #428BCA 0px;
	background-color:rgba(0,0,0,0.2);
}

/*  SIGN IN HR */
.div1 {
	text-align: center;
	position: relative;
	color:white;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.4em;
	font-weight: 100;

}
.span1 {
	display: inline-block;
	color:white;
}
.span1:before,
.span1:after {
	border-top: 1px solid gray;
	display: block;
	height: 1px;
	content: " ";
	width: 36%;
	position: absolute;
	left: 0;
	top: 0.6em;
}
.span1:after {
	right: 0;
	left: auto;
}


.btn--facebook {
	border-color: #5d7eb6;
	background-color: #45619D;
	color:white;
	height: 57px;
	padding-top: 0px;
	background-size: 100% 100%;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 1.2em;
	text-align: center;
	width: 100%;
	border-radius: 5px;
	background-image: url(images/facebook_f.png);
	background-position: 25px 0px;
	background-size: 38px 57px;
	background-repeat: no-repeat;
}

.sign-in-lbl {
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 0.9em;
	color: #B3B3BB;
	line-height: 1.9em;
}

.myinput {
	width: 96%;
	height: 20px;
	border-radius: 5px;
	font-size: 1em;
	padding: 10px;
	border: none;
	box-shadow: none;
}
.mybutton {
	box-shadow: none;
}
.mybutton:hover {
	cursor: pointer;
	-webkit-filter: brightness(120%);
}

.myinput.name { width:43%; }
#last_name.myinput.name { float: right; }