body {
    background-color: #EBEBEB;
    font-weight: 200;
    text-shadow: none;
    overflow: auto;
}

@font-face {
	font-family: trench;
	src: url("../assets/trench100free.otf");
}

.profileHeaderContainer {
    float: left;
    width: 100%;
    height: auto;
    background-color: #2B2F3E;
}

.profileHeader {
    height: auto;
    width: 100%;
    min-height: 50px;
    z-index: 1000;
    align-items: stretch;
    text-shadow: none;
    line-height: 300%;
    font-family: TitilliumText, Helvetica;
}

.headerLink {
    display: block;
    order: 3;
    cursor: pointer;
    padding: 15px;
    font-size: 1.3em;
    z-index: 1000;
    align-items: stretch;
    text-shadow: none;
}

.squeeze { width: auto; }
.full-width { width: 100%; }
.half-width { width: 50%; }
.tab-selected {
    background-color: #EBEBEB;
    color: #292c2f;
    font-weight: 500;
    border: solid 5px #2B2F3E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}

.account {
    color: #aaabb1;
    font-size: 0.8em;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 15%;
    line-height: 300%;
    background-color: #2B2F3E;
    -webkit-transition: height 0.8s;
    -moz-transition: height 0.8s;
    transition: height 0.8s;
    height: 72px;
    font-size: 1.0em;
    overflow: hidden;
}

.account:hover {
    height: 215px;
    background-color: #222531;
}

.account .headerLink { height: auto; }

#membership {
    background-color: #404351;
    border-bottom: solid #575E70 1px;
}
#signout {
    background-color: #404351;
    //height: 80px;
}

#membership:hover, #signout:hover {
    background-color: #575E70;
    color: #fff;
}

a.darkLink { text-decoration: none; color: #aaabb1; }
a.darkLink:hover { text-decoration: none; color: #FFFFFF; }
a.darkLink:visited { text-decoration: none; }

.logo-profile {
    text-align: center;
    font-family: trench;
    color: white;
    font-size: 4.0em;
    font-weight: 100;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 18%;
}
.higher-line { line-height: 200%; }

.panel {
    margin-top: 40px;
    font-size: large;
    font-family: TitilliumText, Helvetica, sans-serif;
    box-shadow: 0 5px 5px rgba(0,0,0,.05);
}
.round {
    border-radius: 20px;
}

footer{
	position: relative;
	bottom: 0;
}
footer:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 20px solid #292c2f;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    left: 50%;
    margin-left: -20px;
    top: -19px;
    z-index: 2;
}
@media (max-height:400px){
	footer { position: relative; }
	header { padding-top:40px; }
}

.panel-header {
    color: #5e5e5e;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
}

.centered { text-align: center; }
.right-align { text-align: right; }


.full-width-btn {
	font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
	font-size: 1.3em;
	height:50px;
	padding:10px;
	background-color: #009688;
    color: white;
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: none;
}
.full-width-btn:hover {
    background-color: #32ab9f;
}

.small-text {
    font-size: small;
}

.highlight {
    padding: 15px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.highlight.memb {
    margin-bottom: -1px;
    background-color: #fff;
    border-radius: 0px;
}

.highlight.memb.memb-bottom { border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; margin-bottom: 14px;  }
.highlight.memb.memb-top { border-top-right-radius: 5px; border-top-left-radius: 5px; }

.highlight-container { margin: auto; width: 70%; }